<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Test Suite" parallel="tests" thread-count="4" verbose="4">

	<!-- <test name="Amazon App Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://www.amazon.com" />

		<classes>
			<class name="MyTests.AmazonTest" />
		</classes>
	</test>

	<test name="Ornage HRM Test">
		<parameter name="browser" value="firefox" />
		<parameter name="url" value="https://www.orangehrm.com/orangehrm-30-day-trial/" />

		<classes>
			<class name="MyTests.OrangeHrmTest" />
		</classes>
	</test>

	<test name="Google Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://www.google.com/" />

		<classes>
			<class name="MyTests.GoogleTest" />
		</classes>
	</test>

<test name="OpenCart Login Nagative Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://demo.opencart.com/index.php?route=account/login" />

		<classes>
			<class name="MyTests.LoginNegativeTest" />
		</classes>
	</test>-->
<test name="OpenCart Registration Nagative Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://demo.opencart.com/index.php?route=account/register" />

		<classes>
			<class name="MyTests.RegistrationTest" />
		</classes>
	</test>


</suite>